body {
  min-width: 320px;
  background-color: white;
  color: black;
}

.navbar {
  /*background-color: black;*/
  background-color: rgb(224, 57, 74);
  border-color: rgb(204, 55, 70);
  box-shadow: 3px 0 15px 0 rgba(0,0,0,0.5);
  min-height: 50px;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.dashboard {
  margin-top: 50px;
  transition: margin-left .5s;
  padding: 20px;
}

.button-icon {
  background-color: Transparent;
  border: none;
  outline: none;
  color: black;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
   .dashboard {font-size: 18px;}
}

@media screen and (max-width: 950px) {
  html {
    font-size: 9px;
  }
  nav {
    font-size: 1.5rem;
  }
  nav .navbar-brand{
    font-size: 2rem;
  }
}
