body {
  width:100%;
  height:100%;
}

.container {
  position:absolute;
  top:25%;
  left:25%;
  width:50%;
  z-index: 2;
}

#anim-left {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 50%;
  height: 50%;
  z-index: 1;
}

#anim-up {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 50%;
  height: 50%;
  z-index: 1;
}

#anim-right {
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 50%;
  height: 50%;
  z-index: 1;
}

#anim-down {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 50%;
  height: 50%;
  z-index: 1;
}
