body {
  min-width: 540px;
  background-color: white;
  color: black;
}

.navbar {
  /*background-color: black;*/
  background-color: rgb(224, 57, 74);
  border-color: rgb(204, 55, 70);
  box-shadow: 3px 0 15px 0 rgba(0,0,0,0.5);
  min-height: 50px;
}

.sidenav {
  text-align: center;
  box-shadow: 3px 0 15px 0 rgba(0,0,0,0.5);
  font-size: 17px;
  color: white;
}

.sidenav ul {
  padding-bottom: 10px;
  padding-left: 0px;
  list-style: none;
}
/* The navigation menu links */
.sidenav a {
  padding-top: 8px;
  padding-bottom: 8px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
   color: #f1f1f1;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.dashboard {
  margin-top: 50px;
  margin-left: 175px;
  transition: margin-left .5s;
  padding: 20px;
}

.invisible {
  display: none;
}

/* The side navigation menu */
#sidenav-big {
   height: 100%; /* 100% Full-height */
   width: 175px; /* 175 width - change this with JavaScript */
   position: fixed; /* Stay in place */
   top: 50px; /* Stay at the top */
   left: 0;
   background-color: black; /* Black*/
   overflow-x: hidden; /* Disable horizontal scroll */
   padding-top: 60px; /* Place content 60px from the top */
   transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
   z-index: 1;
}

#sidenav-small {
   height: 100%; /* 100% Full-height */
   width: 0px; /* 0 width - change this with JavaScript */
   position: fixed; /* Stay in place */
   top: 50px; /* Stay at the top */
   left: 0;
   background-color: black;
   overflow-x: hidden; /* Disable horizontal scroll */
   overflow-y: hidden; /* Disable horizontal scroll */
   padding-top: 60px; /* Place content 60px from the top */
   transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
   z-index: 0;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
   .sidenav {padding-top: 15px;}
   .dashboard {font-size: 18px;}
}

@media screen and (max-width: 767px) {
  .dashboard {margin-left: 0 !important; font-size: 18px;}
  .sidenav {display: none;}
}
