.iotku-bg-primary {
  background-color: rgb(224, 57, 74);
}

#iotku-front {
  height:100vh;
  min-height: 500px;
  /*background: linear-gradient(to bottom right,rgba(255,0,0, 1),rgba(0,0,0, 0)), url('../images/iotku-front.png');*/
  background: linear-gradient(to right, rgb(224, 57, 74), rgb(213, 47, 64));
  font-family: 'Quicksand', sans-serif;
}
#iotku-front h5 {
  font-size: 25px;
}
#logo {
   /* width: inherit; */
   max-width: 440px;
}
#iotku-features {
  font-family: 'Quicksand', sans-serif;
  background-color: rgb(245, 245, 245);
}
#iotku-features img {
  filter: drop-shadow(2px 2px 3px gray);
  width: 200px;
  height: 200px;
  margin: 5px 5px;
}
#iotku-features h3 {
  margin-top: 20px;
}
#iotku-team {
  font-family: 'Quicksand', sans-serif;
}
#iotku-team img {
  width: 150px;
}
#iotku-team p {
  margin-top: -8px;
}
#iotku-team h5 {
  margin-top: -5px;
}
#iotku-team .text {
  color: rgba(0, 0, 0, 0.75)
}
#footer {
  background-color: rgb(33, 33, 33);
  width: 100%;
  height: 180px;
  color: rgb(120, 120, 120);
  font-family: sans-serif;
}
#footer #wrapper-footer {
  padding-top: 30px;
}
#footer a {
  margin-right: 15px;
  color: rgb(224, 57, 74);
}
#footer p {
    margin-bottom: 3px;
}
#python-logo img {
  width: 100px;
  height: 50px;
  bottom: 0;
  padding-top: 10px;
}
#python-logo img:hover {
  filter: brightness(150%);
}
