{% extends "layout.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/static/css/dashboard.css" type="text/css">
{% endblock %}
{% block content %}
<div class="p-4">
  <div class="container">
    <h1 class="text-center">Hello!</h1>
    <h3 class="text-center">Welcome to IoTku Platform</h3>
  </div>
</div>
<div class="container">
  <div class="jumbotron" id="account-info">
    <h4>Your Account <button class="fa fa-refresh button-icon" id="account-info-refresh" aria-hidden="true"></button></h4>
    <hr>
    <h5>Email:&nbsp;<span id="account-email"></span></h5>
    <h5>API&nbsp;Key:&nbsp;<span id="account-api-key"></span></h5>
    <h5>Registration&nbsp;Date:&nbsp;<span id="account-registration-date"></span></h5>
    <h5>Total&nbsp;Device:&nbsp;<span id="account-total-device"></span></h5>
  </div>
  <div class="row">
    <div class="col-md-4 mx-auto card-dashboard" id="devices">
      <h4>Your Devices</h4>
      <h4><button class="fa fa-refresh button-icon" id="device-list-refresh" aria-hidden="true"></button> <button type="button" name="button" class="fa fa-plus-circle button-icon" data-toggle="modal" data-target="#device-modal" id="add-device-button"></button></h4>
      <hr>
      <div id="device-list"></div>
      <div class="invisible" id="device-list-empty">
        <img src="/static/images/connect.png" alt="connect">
        <p>It seems that you haven't added a device yet. Maybe it's time?</p>
      </div>
      <div id="device-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Add a device</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <form class="" id="device-form" action="" method="post">
                <input type="text" name="device-name" placeholder="Device Name" class="form-control" id="device-name">
                <br>
                <input type="text" name="device-id" placeholder="Device ID" class="form-control" id="device-id">
                <br>
                <button type="submit" name="add-device" class="btn btn-iot" id="btn-device-submit">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
  {{ super() }}
  <script type="text/javascript" src="/static/js/dashboard.js"></script>
{% endblock %}