{% extends "layout.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/static/css/dashboard.css" type="text/css">
{% endblock %}
{% block content %}
<div class="p-4">
  <div class="container">
    <h1 class="text-center">Hello!</h1>
    <h3 class="text-center">Welcome to IoTku Platform</h3>
  </div>
</div>
<div class="container">
  <div class="jumbotron" id="account-info">
    <h4>Your Account <button onclick="accountInfoRefresh()" class="fa fa-refresh button-icon" id="account-info-refresh" aria-hidden="true"></button></h4>
    <hr>
    <h5>Email:&nbsp;<span id="account-email"></span></h5>
    <h5>API&nbsp;Key:&nbsp;<span id="account-api-key"></span></h5>
    <h5>Registration&nbsp;Date:&nbsp;<span id="account-registration-date"></span></h5>
    <h5>Total&nbsp;Device:&nbsp;<span id="account-total-device"></span></h5>
  </div>
  <div class="row" id="widget-list">
    <div class="col-md-3 mx-auto card-dashboard" id="devices">
      <h4>Your Devices</h4>
      <h5><span id="device-list-error"></span></h5>
      <h4>
        <button onclick="deviceListRefresh()" class="fa fa-refresh button-icon" id="device-list-refresh" aria-hidden="true"></button>
        <button type="button" name="button" class="fa fa-plus-circle button-icon" data-toggle="modal" data-target="#device-form-modal" id="add-device-button"></button>
      </h4>
      <hr>
      <div id="device-list">

      </div>
      <div class="d-none" id="device-list-empty">
        <img src="/static/images/connect.png" alt="connect">
        <p>It seems that you haven't added a device yet. Maybe it's time?</p>
      </div>
    </div>
    <div class="col-md-3 mx-auto card-dashboard" id="sensors">
      <h4>Your Sensors</h4>
      <h5><span id="sensor-list-error"></span></h5>
      <h4>
        <div class="btn-group">
          <form class="btn-group" id="get-sensor-list" onsubmit="getSensorListFormSubmit(event)">
            <input type="text" name="device-id" placeholder="Device ID" class="form-control" id="get-sensor-list-device-id" required>
            <button type="submit" class="fa fa-refresh button-icon" id="sensor-list-refresh" aria-hidden="true"></button>
          </form>
          <button type="button" name="button" class="fa fa-plus-circle button-icon" data-toggle="modal" data-target="#sensor-form-modal" id="add-sensor-button"></button>
        </div>
      </h4>
      <hr>
      <div id="sensor-list">

      </div>
      <div class="d-none" id="sensor-list-empty">
        <img src="/static/images/castle.png" alt="connect">
        <p>Your device doesn't have a sensor. <br> Well, what are you waiting for?</p>
      </div>
    </div>
    <div class="col-md-3 mx-auto card-dashboard" id="rules">
      <h4>Your Rules</h4>
      <h5><span id="rule-list-error"></span></h5>
      <h4>
        <div class="btn-group">
          <form class="btn-group" id="get-rule-list" onsubmit="getRuleListFormSubmit(event)">
            <input type="text" name="device-id" placeholder="Device ID" class="form-control" id="get-rule-list-device-id" required>
            <input type="text" name="sensor-id" placeholder="Sensor ID" class="form-control" id="get-rule-list-sensor-id" required>
            <button type="submit" class="fa fa-refresh button-icon" id="rule-list-refresh" aria-hidden="true"></button>
          </form>
          <button type="button" name="button" class="fa fa-plus-circle button-icon" data-toggle="modal" data-target="#rule-form-modal" id="add-rule-button"></button>
        </div>
      </h4>
      <hr>
      <div id="rule-list">

      </div>
      <div class="d-none" id="rule-list-empty">
        <img src="/static/images/book.png" alt="connect">
        <p>Last step. Add a rule now!</p>
      </div>
    </div>
  </div>
</div>

<!-- DEVICE -->
<div id="device-form-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add a device</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <h5><span id="device-form-error"></span></h5>
        <form class="" id="device-form" action="" onsubmit="deviceAddFormSubmit(event)">
          <div class="form-group">
            <label for="device-form-name">Device Name</label>
            <input type="text" placeholder="Device Name" class="form-control" id="device-form-name" required>
          </div>
          <div class="form-group">
            <label for="device-form-id">Device ID</label>
            <input type="text" placeholder="Device ID" class="form-control" id="device-form-id" required>
          </div>
          <button type="submit" name="add-device" class="btn btn-iot" id="btn-device-submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="d-none" id="device-info">
  <h5 style="text-align: center;">Device&nbsp;ID&nbsp;</h5>
  <span class="device-id">null</span>
  <hr>
  <h5 style="text-align: center;">Device&nbsp;Name&nbsp;</h5>
  <span class="device-name">null</span>
  <hr>
  <h5 style="text-align: center;">Time&nbsp;Added&nbsp;</h5>
  <span class="device-time-added">null</span>
  <hr>
  <h5 style="text-align: center;">Total&nbsp;Sensor&nbsp;</h5>
  <a href="javascript:void(0)" onclick="$('#get-sensor-list-device-id').val($('.device-id').first().text()); getSensorListFormSubmit(event);" class="device-total-sensor">null</a>
</div>
<div class="d-none" id="device-delete-prompt">
  <div class="device-delete text-center">
    <h5>Are you sure you want to remove this device?</h5>
    <h5><span class="device-delete-error"></span></h5>
    <div class="btn-group mx-auto">
      <button onclick="deviceDeletePromptYes(this)" class="btn btn-primary device-delete-yes">Yes</button>
      <button onclick="deviceDeletePromptNo(this)" class="btn btn-primary device-delete-no">No</button>
    </div>
  </div>
</div>

<!-- SENSOR -->
<div id="sensor-form-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add a sensor</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <h5><span id="sensor-form-error"></span></h5>
        <form class="" id="sensor-form" action="" method="post" onsubmit="sensorAddFormSubmit(event)">
          <div class="form-group">
            <label for"sensor-form-device-id">Device ID</label>
            <input type="text" name="device-id" placeholder="Device ID" class="form-control" id="sensor-form-device-id" required>
          </div>
          <div class="form-group">
            <label for="sensor-form-name">Sensor Name</label>
            <input type="text" placeholder="Sensor Name" class="form-control" id="sensor-form-name" required>
          </div>
          <div class="form-group">
            <label for="sensor-form-id">Sensor ID</label>
            <input type="text" placeholder="Sensor ID" class="form-control" id="sensor-form-id" required>
          </div>
          <button type="submit" class="btn btn-iot" id="btn-sensor-submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="d-none" id="sensor-info">
  <h5 style="text-align: center;">Sensor&nbsp;ID&nbsp;</h5>
  <span class="sensor-id">null</span>
  <hr>
  <h5 style="text-align: center;">Sensor&nbsp;Name&nbsp;</h5>
  <span class="sensor-name">null</span>
  <hr>
  <h5 style="text-align: center;">Time&nbsp;Added&nbsp;</h5>
  <span class="sensor-time-added">null</span>
  <hr>
  <h5 style="text-align: center;">Last&nbsp;Data&nbsp;Added&nbsp;Time&nbsp;</h5>
  <span class="sensor-last-data-added-time">null</span>
  <hr>
  <h5 style="text-align: center;">Total&nbsp;Data&nbsp;Entry&nbsp;</h5>
  <span class="sensor-total-data-entry">null</span>
  <hr>
  <h5 style="text-align: center;">Total&nbsp;Rule&nbsp;</h5>
  <a href="javascript:void(0)" onclick="$('#get-rule-list-device-id').val($('.device-id').first().text()); $('#get-rule-list-sensor-id').val($('.sensor-id').first().text()); getRuleListFormSubmit(event);" class="sensor-total-rule">null</a>
</div>
<div class="d-none" id="sensor-delete-prompt">
  <div class="sensor-delete text-center">
    <h5>Are you sure you want to remove this sensor?</h5>
    <h5><span class="sensor-delete-error"></span></h5>
    <div class="btn-group mx-auto">
      <button onclick="sensorDeletePromptYes(this)" class="btn btn-primary sensor-delete-yes">Yes</button>
      <button onclick="sensorDeletePromptNo(this)" class="btn btn-primary sensor-delete-no">No</button>
    </div>
  </div>
</div>

<!-- RULE -->
<div id="rule-form-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add a Rule</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <h5><span id="rule-form-error"></span></h5>
        <form class="" id="rule-form" action="" method="post" onsubmit="ruleAddFormSubmit(event)">
          <div class="form-group">
            <label for"rule-form-device-id">Device ID</label>
            <input type="text" name="device-id" placeholder="Device ID" class="form-control" id="rule-form-device-id" required>
          </div>
          <div class="form-group">
            <label for"rule-form-sensor-id">Sensor ID</label>
            <input type="text" name="sensor-id" placeholder="Sensor ID" class="form-control" id="rule-form-sensor-id" required>
          </div>
          <div class="form-group">
            <label for="rule-form-name">Rule Name</label>
            <input type="text" placeholder="Rule Name" class="form-control" id="rule-form-name" required>
          </div>
          <div class="form-group">
            <label for="rule-form-id">Rule ID</label>
            <input type="text" placeholder="Rule ID" class="form-control" id="rule-form-id" required>
          </div>
          <div class="form-group">
            <label for="rule-form-expected-type">Expected Data Type</label>
            <select class="form-control" id="rule-form-expected-type">
              <option value="STR">String</option>
              <option value="INT">Integer</option>
            </select>
          </div>
          <div class="form-group">
            <label for="condition">Condition <button type="button" name="button" class="fa fa-plus-circle button-icon" onclick="addCondition();" id="add-condition-button"></button></label>
            <small id="passwordHelpInline" class="text-muted">
              (AND)
            </small>
            <div id="condition">
              <div class="form-inline row">
                <label class="col-sm-2" for="rule-form-operator">Data</label>
                <select class="form-control col-sm-4" id="rule-form-operator">
                  <option value="GTR">></option>
                  <option value="GEQ">>=</option>
                  <option value="EQU">==</option>
                  <option value="LEQ"><=</option>
                  <option value="LSS"><</option>
                  <option value="NEQ">!=</option>
                </select>
                <input class="form-control col-sm-4" type="text" placeholder="Value" id="rule-form-value" required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="rule-form-endpoint">Endpoint</label>
            <input type="text" name="endpoint" placeholder="Endpoint Device ID" class="form-control" id="rule-form-endpoint" required>
          </div>
          <div class="form-group">
            <label for="rule-form-command">Command</label>
            <input type="text" name="command" placeholder="Command to send to Endpoint" class="form-control" id="rule-form-command" required>
          </div>
          <button type="submit" class="btn btn-iot" id="btn-rule-submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="d-none" id="rule-info">
  <h5 style="text-align: center;">Rule&nbsp;ID&nbsp;</h5>
  <span class="rule-id">null</span>
  <hr>
  <h5 style="text-align: center;">Rule&nbsp;Name&nbsp;</h5>
  <span class="rule-name">null</span>
  <hr>
  <h5 style="text-align: center;">Time&nbsp;Added&nbsp;</h5>
  <span class="rule-time-added">null</span>
  <hr>
  <h5 style="text-align: center;">Expected&nbsp;Data&nbsp;Type&nbsp;</h5>
  <span class="rule-expected-type">null</span>
  <hr>
  <h5 style="text-align: center;">Condition&nbsp;</h5>
  <span class="rule-condition">null</span>
  <hr>
  <h5 style="text-align: center;">Endpoint&nbsp;</h5>
  <span class="rule-endpoint">null</span>
  <hr>
  <h5 style="text-align: center;">Command&nbsp;</h5>
  <span class="rule-command">null</span>
</div>
<div class="d-none" id="rule-delete-prompt">
  <div class="rule-delete text-center">
    <h5>Are you sure you want to remove this rule?</h5>
    <h5><span class="rule-delete-error"></span></h5>
    <div class="btn-group mx-auto">
      <button onclick="ruleDeletePromptYes(this)" class="btn btn-primary rule-delete-yes">Yes</button>
      <button onclick="ruleDeletePromptNo(this)" class="btn btn-primary rule-delete-no">No</button>
    </div>
  </div>
</div>

{% endblock %}
{% block script %}
  {{ super() }}
  <script type="text/javascript" src="/static/js/dashboard.js"></script>
{% endblock %}