{% extends "layout.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<h1>Device Name 1</h1>
<table>
  <tr>
    <th>Sensor Name</th>
    <th>Time Added</th>
    <th>Actions</th>
  </tr>
  {% for x in sensor %}
  <tr>
    <td><a href="#">{{x}}</a></td>
    <td>04-03-2018 17:03:30</td>
    <td>
      <a href="#"><span class="glyphicon glyphicon-edit"></span></a>
      <a href="#"><span class="glyphicon glyphicon-trash"></span></a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
