.bg-1 {
  background-image: url("b.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#team {
  background-color: white;
}

#contact {
  background-color: #243a51;
}

#footer {
  background-color: #1d2e40;
  height: 25px;
  color: rgba(255,255,255,.6);
  text-align: center;
}

@media only screen and (max-width: 600px) {
/*    .jajan {
        width: 100%;
        height: 100%;
        float: none;
    }
    .lala {
    	height: 99vh;
    }*/
}