<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <!-- <link rel="stylesheet" href="/static/css/bootstrap-4.0/bootstrap.css"> -->
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/master.css">
    <script src="/static/js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  </head>

  <body>

    <div class="dashboard">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="#">Logo</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Dashboard <span class="sr-only">(current)</span></a></li>
              <li><a href="#">Develop</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Profile</a></li>
            </ul>
          </div>
          <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
      </nav>
      <div class="bg-profile">
        <div class="bg-content">
          <button type="button" name="edit-profile" class="btn btn-edit">Edit Profile</button>
          <div class="header-profile">
            <div class="row">
              <div class="col-md-2">
                <img src="../static/images/mc.png" alt="profile image" class="profile-img">
                <button type="button" name="change-img" class="btn btn-edit">Change</button>
              </div>
              <div class="col-md-10">
                <h3>Leksono Nanto <span id="gray">(Nanto88)</span></h3>
                <p>Ini bio ku,deskripsi mengenai pribadiku adalah rahasia lul yeahyayaeh yeahyeaa yehayehyaeh yaehayehyea</p>
                <button type="button" name="api-key" class="btn btn-generate">Generate API Key</button>
                <br>
                <span id="gray">Last login : 03-22-2018</span>
              </div>
            </div>

          </div>
          <div class="container-profile">
            <div class="total-data">
              <h2>Total Data</h2>
              <div class="row">
                <div class="col-md-4 col-sm-6">
                  <p>3 <br>Profile Device</p>
                </div>
                <div class="col-md-4 col-sm-6">
                  <p>8 <br>Sensor</p>
                </div>
              </div>
            </div>
            <div class="activity">
              <h2>Activity</h2>
              <p>Nanto88 baru saja menambahkan data sensor suhu pada device zxc. 20:45</p>
              <p>Nanto88 baru saja menambahkan profile device zxc. 20:43</p>
              <p>Nanto88 baru saja menambahkan profile device zxc. 20:43</p>
              <p>Nanto88 baru saja menambahkan profile device zxc. 20:43</p>
              <p>Nanto88 baru saja menambahkan profile device zxc. 20:43</p>
              <p>Nanto88 baru saja menambahkan profile device zxc. 20:43</p>
              <p>Nanto88 baru saja menambahkan profile device zxc. 20:43</p>
              <p>Nanto88 baru saja menambahkan profile device zxc. 20:43</p>
              <p>Nanto88 baru saja menambahkan profile device zxc. 20:43</p>
              <p>Nanto88 baru saja menambahkan profile device zxc. 20:43</p>
            </div>
          </div>
        </div>
      </div>
  </body>

</html>
